<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <a class="navbar-brand" href="/">Pinterest-clone</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#colnav">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="colnav">
    <ul class="navbar-nav ml-auto">
      <% if(locals.user) { %>        
        <li class="nav-item">
          <a class="nav-link btn btn-dark text-white" href="/upload">Upload</a>
        </li>
        <li class="nav-item text-center">
          <form action="/user/logout?_method=DELETE" method="post">
            <button type="submit" class="btn btn-dark">Logout</button>
          </form>
        </li>
      <% } %>
      <% if(!locals.user) { %>
        <li class="nav-item">
          <a class="nav-link btn btn-dark text-white" href="/user/register">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn btn-dark text-white" href="/user/login">Login</a>
        </li>
      <% } %>
    </ul>
  </div>
</nav>